Simple print operation

In [10]:
print("Hello")

Hello

How to declare a variable

In [11]:
x="john"
y=18
print(x)
print(y)

john
18

Multiplication,Addition,Substraction,Division,Modulus

In [12]:
x=10
y=5
print(x*y)
print(x+y)
print(x-y)
print(x/y)
print(x%y)

50
15
5
2.0
0

Multiple varible assignment

In [13]:
a,b,c=10,2,"John"
print(a,b,c)

10 2 John

In Python, there are several built-in data types that are commonly used to store values. These can be broadly categorized into primitive data types and compound data types.

#1. Primitive Data Types
These are the basic types that represent single values.

Integer (int): Represents whole numbers, both positive and negative.
Example: x = 5, y = -10

Floating-Point (float): Represents numbers with decimal points.
Example: pi = 3.14, price = 99.99

String (str): Represents sequences of characters, enclosed in either single or double quotes.
Example: name = "Alice", greeting = 'Hello!'

Boolean (bool): Represents one of two values: True or False.
Example: is_active = True, is_completed = False

None (NoneType): Represents the absence of a value or a null value.
Example: result = None

#2. Compound Data Types
These types are more complex and can store multiple values or different types of data.

List (list): An ordered, mutable collection of items, which can be of different data types.
Example: fruits = ['apple', 'banana', 'cherry'], numbers = [1, 2, 3, 4]

Tuple (tuple): An ordered, immutable collection of items, which can be of different data types.
Example: coordinates = (10, 20), point = (3, 5, 7)

Set (set): An unordered collection of unique items. Sets do not allow duplicates.
Example: colors = {'red', 'green', 'blue'}, unique_numbers = {1, 2, 3}

Dictionary (dict): A collection of key-value pairs, where each key is unique.
Example: person = {'name': 'Alice', 'age': 25}, grades = {'math': 90, 'science': 85}

Checking data type

In [14]:
person = {'name': 'Alice', 'age': 25}
print(type(person))

<class 'dict'>

Taking input from user

In [15]:
# Take two numbers as input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Cannot divide by zero"
modulus = num1 % num2 if num2 != 0 else "Cannot compute modulus by zero"
exponentiation = num1 ** num2

# Display the results
print(f"The addition of {num1} and {num2} is: {addition}")
print(f"The subtraction of {num1} and {num2} is: {subtraction}")
print(f"The multiplication of {num1} and {num2} is: {multiplication}")
print(f"The division of {num1} by {num2} is: {division}")
print(f"The modulus of {num1} and {num2} is: {modulus}")
print(f"{num1} raised to the power of {num2} is: {exponentiation}")

The addition of 4.0 and 6.0 is: 10.0
The subtraction of 4.0 and 6.0 is: -2.0
The multiplication of 4.0 and 6.0 is: 24.0
The division of 4.0 by 6.0 is: 0.6666666666666666
The modulus of 4.0 and 6.0 is: 4.0
4.0 raised to the power of 6.0 is: 4096.0

conversion of one datatype to another

In [16]:
x=10
y=str(x)
print(y)

10

Print current date

In [17]:
import datetime
time=datetime.datetime.now()
print(time)

2025-01-10 13:02:49.165009

Excercise: Find the area of a circle

1.define a variable pi=3.14
2.take radius input from user
3.calculate area=pi*(radius**2)

Solve Quadratic Equation

In [18]:
import cmath  # Import cmath to handle complex roots

# Input coefficients a, b, and c
print("Solve the quadratic equation ax^2 + bx + c = 0")
a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

# Calculate the discriminant
discriminant = (b**2) - (4*a*c)

# Calculate the two roots using the quadratic formula
root1 = (-b + cmath.sqrt(discriminant)) / (2 * a)
root2 = (-b - cmath.sqrt(discriminant)) / (2 * a)

# Output the roots
print(f"The roots of the quadratic equation are: {root1} and {root2}")

Solve the quadratic equation ax^2 + bx + c = 0
The roots of the quadratic equation are: 0j and (-1.2857142857142858+0j)

For loop

In [19]:
fruits = ['apple', 'banana', 'cherry']

for i in fruits:
    print(i)

apple
banana
cherry

In [20]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(2,11):
    print (i)

2
3
4
5
6
7
8
9
10

In [22]:
for i in range(50,10,-5):
    print (i)

50
45
40
35
30
25
20
15

While Loops

In [23]:
count = 0

while count < 5:
    print(count)
    count += 1  # Increment count by 1

0
1
2
3
4

Break statement

In [24]:
for i in range(10):
    if i == 5:
        break  # Exit the loop when i equals 5
    print(i)

0
1
2
3
4

Continue: Skips the current iteration and continues with the next one.

In [25]:
for i in range(10):
    if i>=1 and i<=5:
        continue  # Skip printing 5
    print(i)

0
6
7
8
9

Nested for loops

In [26]:
for i in range(3):
    for j in range(3):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2

Loop trough dictonary

In [27]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}

for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 30
city: New York

If else condition

In [28]:
age = 1

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

In [29]:
temperature = 30

if temperature > 35:
    print("It's too hot!")
elif temperature > 20:
    print("It's warm.")
else:
    print("It's cold.")

It's warm.

And,Or and Not

In [30]:
x = 5
y = 10

if x > 0 and y > 0:
    print("Both x and y are positive.")
else:
    print("At least one of x or y is not positive.")

# Using 'or'
if x > 0 or y < 5:
    print("Either x is positive, or y is less than 5.")

# Using 'not'
if not (x < 0):
    print("x is non-negative.")

Both x and y are positive.
Either x is positive, or y is less than 5.
x is non-negative.

In [31]:
def multiply(a, b, c):
    return a * b * c

# Calling the function with three arguments
result = multiply(2, 3, 4)
print(result)

24

Lambda Function

In [32]:
# Lambda function to add two numbers
add = lambda x,y:x + y

# Calling the lambda function
result = add(5, 3)
print(result)

8

Recursive Function

In [33]:
def factorial(n):
    # Base case: factorial of 0 or 1 is 1
    if n == 0 or n == 1:
        return 1
    # Recursive case: n * factorial of (n-1)
    else:
        return n * factorial(n - 1)

# Example usage:
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [34]:
def add():
    a = float(input("Enter a"))
    b = float(input("Enter b"))
    return a + b
print(add())

14.0

List Comprehension

In [35]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

Dictionary comprehension

In [36]:
squares_dict = {x: x**2 for x in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
# OOPs in Python 
# OOP- Object Oriented Programming

#class - blueprint or template
#__init__ method - constructor, value initialize - fix
#self parameter - reference or connection build btw class and object - fix
class Student: # student class
    def __init__(self, name, grade, percentage):  # method
        self.name = name  # attribute 
        self.grade = grade # attribute 
        self.percentage = percentage # attribute

    def student_details(self): # method 
        print(f"{self.name} is in class {self.grade}, with {self.percentage}%")

# object - instance of class 
student1 = Student('Madhav', 11, 96)
print(student1.name, student1.grade)

student2 = Student('Vishakha', 12, 99)
print(student2.name, student2.grade)

print(student1.percentage)
student1.student_details()
student2.student_details()

print(student1.__dict__) 

# modify object property
print(student1.percentage) 
student1.percentage = 100 # modify
print(student1.percentage)




# # class - blueprint or template
# class Student: # student class
#     def __init__(self, name, grade, percentage, team):  # method
#         self.name = name  # attribute 
#         self.grade = grade # attribute 
#         self.percentage = percentage # attribute
#         self.team = team

#     def student_details(self): # method 
#         print(f"{self.name} is in class {self.grade}, with {self.percentage}% and is in team {self.team}")

# team1 = 'A'
# team2 = 'B'

# # object - instance of class 
# student1 = Student('Madhav', 11, 96, team1)
# # print(student1.name, student1.grade)

# student2 = Student('Vishakha', 12, 99, team2)
# # print(student2.name, student2.grade)

# # print(student2.team)
# student1.student_details()
# student2.student_details()



# # 4 features in OOPs 
# # Abstraction
# # Encapsulation
# # Inheritance
# # Polymorphism

Madhav 11
Vishakha 12
96
Madhav is in class 11, with 96%
Vishakha is in class 12, with 99%
{'name': 'Madhav', 'grade': 11, 'percentage': 96}
96
100

In [38]:
# # Abstraction 
# # hiding unnecesary deatils from users through class, methods 

class Student: # student class
    def __init__(self, name, grade, percentage): 
        self.name = name  # attribute 
        self.grade = grade  
        self.percentage = percentage 

    def student_details(self): # method - abstraction
        print(f"{self.name} is in class {self.grade},") # hidden from users

# object - instance of class 
student1 = Student('Madhav', 11, 96)
student2 = Student('Vishakha', 12, 97)

student2.student_details()

Vishakha is in class 12,

In [39]:
# # Encapsulation 
# # Restrict access to certain attributes or methods to protect data and enforce controlled access

class Student: # student class
    def __init__(self, name, grade, percentage): 
        self.name = name  # attribute 
        self.grade = grade  
        self.__percentage = percentage # double underscore limits access

    def get_percentage(self):
        return self.__percentage 

    def student_details(self): # method 
        print(f"{self.name} is in class {self.grade}, with {self.percentage}%") 

# object - instance of class 
student1 = Student('Madhav', 11, 96)
student2 = Student('Vishakha', 12, 97)

#print(student1.__percentage) # error
#print(student1.percentage) # error
print(student2.get_percentage())

97

In [40]:
# # Inheritance 
# # allows one class (child) to reuse the prop and methods of another class (parent). 

# # parent class - baap
class Student: # student class
    def __init__(self, name, grade, percentage): 
        self.name = name  # attribute 
        self.grade = grade  
        self.percentage = percentage 

    def student_details(self): # method 
        print(f"{self.name} is in class {self.grade}, with {self.percentage}%")

# object - instance of class 
student1 = Student('Madhav', 11, 96)
student2 = Student('Vishakha', 12, 99)

# child class - beta 
class GraduateStudent(Student): # Graduatestudent child class inherit prop and methods from Student Parent class
    def __init__(self, name, grade, percentage, stream): # old parameters from parent class and new parameters in child class
        super().__init__(name, grade, percentage) # call parent class init
        self.stream = stream # new attribute in child class 

    def student_details(self):
        super().student_details() # method inherit from parent class
        print(f'Stream is {self.stream}')

# object
Grad_Student1 = GraduateStudent('Keshav', 12, 96, 'PCM')
print(Grad_Student1.stream) 

Grad_Student1.student_details()

PCM
Keshav is in class 12, with 96%
Stream is PCM

In [41]:
#Multiple Inheritence
class Father():
   def gardening(self):
       print("I love gardening")

class Mother():
   def cooking(self):
       print("I love cooking")

class Child(Father,Mother):
    def sports(self):
        print("I love sports")

c = Child()
c.gardening()
c.cooking()
c.sports()

I love gardening
I love cooking
I love sports

In [42]:
#Multiple Inheritence
class Father():
   def skills(self):
       print("gardening,programming")

class Mother():
   def skills(self):
       print("cooking,art")

class Child(Father,Mother):
    def skills(self):
        Father.skills(self)
        Mother.skills(self)
        print("sports")

c = Child()
c.skills()

gardening,programming
cooking,art
sports

In [43]:
# # Polymorphism
# # allows methods in difft classes to have same name but difft behaviour depending on objects 

class Student: # student class
    def __init__(self, name, grade, percentage): 
        self.name = name  # attribute 
        self.grade = grade  
        self.percentage = percentage 

    def student_details(self): # method 
        print(f"{self.name} is in class {self.grade}, with {self.percentage}%")

# object - instance of class 
student1 = Student('Madhav', 11, 96)
student2 = Student('Vishakha', 12, 99)

# child class  
class GraduateStudent(Student): 
    def __init__(self, name, grade, percentage, stream): 
        super().__init__(name, grade, percentage) 
        self.stream = stream 

    def student_details(self): # method
        print(f'{self.name} is in class {self.grade}, with {self.percentage}% and from stream {self.stream}')
        print('same method with difft o/p')

# object - Student class
student1 = Student('Madhav', 11, 96)

# object - GraduateStudent class
Grad_Student1 = GraduateStudent('Keshav', 12, 96, 'PCM')

student1.student_details()
Grad_Student1.student_details()

Madhav is in class 11, with 96%
Keshav is in class 12, with 96% and from stream PCM
same method with difft o/p

In Python, *args and **kwargs are special syntax used in function definitions to allow for variable-length arguments. Here's a detailed explanation with examples:

Positional Aruguments
*args allows a function to accept any number of positional arguments. These arguments are collected into a tuple.

In [44]:
def add_numbers(*args):
    return sum(args)

print(add_numbers(1, 2, 3,6,7,8,9,10,22))  # Output: 6
print(add_numbers(4, 5))     # Output: 9
print(add_numbers())         # Output: 0

68
9
0

Keyword Arguments

In [45]:
def greet(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

greet(name="Alice", age=30, city="New York")

name: Alice
age: 30
city: New York

mixture

In [46]:
def display_info(*args, **kwargs):
    print("Positional arguments:", args)
    print("Keyword arguments:", kwargs)

display_info(1, 2, 3, name="Alice", age=30)

Positional arguments: (1, 2, 3)
Keyword arguments: {'name': 'Alice', 'age': 30}

In [47]:
def merge_dicts(base_dict, **kwargs):
    merged_dict = {**base_dict, **kwargs}
    return merged_dict

# Example usage
base = {"a": 1, "b": 2}
extra = {"c": 3, "d": 4}

result = merge_dicts(base, **extra, e=5, f=6)
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

Decorators

In [48]:
import time

def calc_square(numbers):
    result = []
    start = time.time()
    for number in numbers:
        result.append(number*number)
    end = time.time()
    print("Total time took" + str((end-start)*1000)+"milsec")
    return result

def calc_cube(numbers):
    result = []
    start = time.time()
    for number in numbers:
        result.append(number*number*number)
    end = time.time()
    print("Total time took" + str((end-start)*1000)+"milsec")
    return result

array = range(1,100000)
out_square = calc_square(array)
out_cube = calc_cube(array)

Total time took18.98789405822754milsec
Total time took35.97903251647949milsec

Problem with above code:

1.Lets say when you have 200 functions.You will need to modify them

2.It distorts the original function

In [4]:
import time
def time_it(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args,**kwargs)
        end = time.time()
        print(func.__name__ +" took " + str((end-start)*1000) + "mil sec")
        return result
    return wrapper

@time_it
def calc_square(numbers):
    result = []
    for number in numbers:
        result.append(number*number)
    return result

@time_it
def calc_cube(numbers):
    result = []
    for number in numbers:
        result.append(number*number*number)
    return result

@time_it
def p():
    print("Hello World")


array = range(1,100000)
out_square = calc_square(array)
out_cube = calc_cube(array)
p()

calc_square took 14.990091323852539mil sec
calc_cube took 19.00339126586914mil sec
Hello World
p took 0.9989738464355469mil sec

In [50]:
def make_pretty(func):

    def inner():
        print("I got decorated")
        func()
    return inner

@make_pretty
def ordinary():
    print("I am ordinary")

ordinary()

I got decorated
I am ordinary

In [51]:
def double_result(func):
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        return result * 2
    return wrapper

@double_result
def add(*args, **kwargs):
    return sum(args)

print(add(3,5))

16

Filter,Map,Reduce

In [9]:
from functools import reduce

nums = [3,2,6,8,4,6,2,9]

evens = list(filter(lambda n : n%2==0,nums))

doubles = list(map(lambda n : n*2,evens))
print(doubles)


sum = reduce(lambda a,b : a+b,doubles)


print(sum)

[4, 12, 16, 8, 12, 4]
56

In [7]:
from functools import reduce

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using filter to get odd numbers
odd_numbers = filter(lambda x: x % 2 != 0, numbers)

# Using map to square the filtered numbers
squared_odd_numbers = map(lambda x: x ** 2, odd_numbers)

# Using reduce to compute the product of squared odd numbers
product = reduce(lambda x, y: x * y, squared_odd_numbers)

print(product)  # Output: 893025
print(type(odd_numbers))

893025
<class 'filter'>

Iterator

In [11]:
a=["hello","world"]
for i in a:
    print (i)

hello
world

In [12]:
itr=iter(a)
itr

In [15]:
next(itr)

StopIteration:

In [16]:
class RemoteControl():
    def __init__(self):
        self.channels = ["HBO","cnn","abc","espn"]
        self.inde = -1

    def __iter__(self):
        return self

    def __next__(self):
        self.inde += 1
        if self.inde == len(self.channels):
            raise StopIteration

        return self.channels[self.inde]

r = RemoteControl()
itr=iter(r)
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

HBO
cnn
abc
espn

StopIteration:

Generator

In [17]:
def remote_control():
    yield "cnn"
    yield "espn"

itr=remote_control()
itr

In [20]:
next(itr)

StopIteration:

In [23]:
def fib():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a+b

for f in fib():
    if f > 100:
        break
    print(f)
#counting the number

0
1
1
2
3
5
8
13
21
34
55
89

Exceptional Handling

All built in exception

In [4]:
print(dir(locals()['__builtins__']))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

Basic Syntax

try block: Contains the code that might throw an exception.

except block: Handles the exception if one occurs.

else block: Executes if no exception is raised in the try block.

finally block: Executes regardless of whether an exception occurred or not, often used for cleanup.

In [6]:
try:
    # Code that may raise an exception
    result = 10 / 0
except ZeroDivisionError:
    # Code to handle the exception
    print("Cannot divide by zero!")
else:
    # Code to run if no exception occurs
    print("Division successful!")
finally:
    # Code to run no matter what (cleanup, etc.)
    print("Execution completed.")

Cannot divide by zero!
Execution completed.

Multiple Exception

In [25]:
try:
    number = int(input("Enter a number: "))
    print(10 / number)
except (ValueError, ZeroDivisionError) as e:
    print(f"An error occurred: {e}")

An error occurred: division by zero

Raising Exceptions

In [8]:
def check_age(age):
    if age < 18:
        raise ValueError("Age must be at least 18!")
    print("Age is valid.")

try:
    check_age(16)
except ValueError as e:
    print(e)

Age must be at least 18!

'r'	Read mode (default). Opens the file for reading.

'w'	Write mode. Creates or overwrites the file.

'a'	Append mode. Adds data to the end of the file.

'r+'	Read and write mode.

'w+'	Write and read mode. Overwrites existing content.

'a+'	Append and read mode. Adds data and allows reading.

Opening a text file

In [62]:
with open(r"C:\Users\USER\Desktop\Python\simple.txt", 'w') as file:
    file.write("This is new content.")

In [60]:
with open(r"C:\Users\USER\Desktop\Python\simple.txt", 'a') as file:
    file.write("\nAppending this line to the file.")

In [61]:
f = open(r"C:\Users\USER\Desktop\Python\simple.txt", "r")
print(f.read())

This is new content.
Appending this line to the file.

opening an excel file

In [29]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\desktop\python\myenv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\user\desktop\python\myenv\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\desktop\python\myenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\desktop\python\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\desktop\python\myenv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\desktop\python\myenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [63]:
import pandas as pd

In [64]:
data=pd.read_excel(r"C:\Users\USER\Desktop\Python\Financial Sample.xlsx")

In [4]:
data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [9]:
data.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [7]:
# Example: Filter data for sales in 2014
filtered_data = data[data['Year'] == 2014]

# Example: Filter data for a specific product (Carretera)
product_data =data[data['Product'] == 'Carretera']

In [10]:
# Example: Total sales by country
sales_by_country = data.groupby('Country')[' Sales'].sum()

# Example: Average profit by product
avg_profit_by_product = data.groupby('Product')['Profit'].mean()

In [11]:
sales_by_country

Country
Canada                      2.488765e+07
France                      2.435417e+07
Germany                     2.350534e+07
Mexico                      2.094935e+07
United States of America    2.502983e+07
Name:  Sales, dtype: float64

In [12]:
avg_profit_by_product

Product
Amarilla     29937.277234
Carretera    19643.063280
Montana      22739.299785
Paseo        23749.692822
VTT          27840.440550
Velo         21155.894174
Name: Profit, dtype: float64

In [13]:
# Example: Sort by profit in descending order
sorted_data = data.sort_values(by='Profit', ascending=False)

In [14]:
sorted_data

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
192,Government,United States of America,Paseo,Low,3450.0,10,350,1207500.0,48300.00,1159200.00,897000.0,262200.00,2014-07-01,7,July,2014
45,Government,France,Amarilla,NaN,2750.0,260,350,962500.0,0.00,962500.00,715000.0,247500.00,2014-02-01,2,February,2014
124,Government,Germany,Velo,Low,2966.0,120,350,1038100.0,20762.00,1017338.00,771160.0,246178.00,2013-10-01,10,October,2013
140,Government,Germany,Amarilla,Low,2966.0,260,350,1038100.0,20762.00,1017338.00,771160.0,246178.00,2013-10-01,10,October,2013
125,Government,Germany,Velo,Low,2877.0,120,350,1006950.0,20139.00,986811.00,748020.0,238791.00,2014-10-01,10,October,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,Enterprise,United States of America,Velo,High,2438.0,120,125,304750.0,45712.50,259037.50,292560.0,-33522.50,2013-12-01,12,December,2013
631,Enterprise,Mexico,Carretera,High,2821.0,3,125,352625.0,49367.50,303257.50,338520.0,-35262.50,2013-12-01,12,December,2013
659,Enterprise,United States of America,Amarilla,High,2844.0,260,125,355500.0,49770.00,305730.00,341280.0,-35550.00,2014-05-01,5,May,2014
667,Enterprise,Germany,Carretera,High,2767.0,3,125,345875.0,51881.25,293993.75,332040.0,-38046.25,2014-08-01,8,August,2014
692,Enterprise,Canada,VTT,High,2954.0,250,125,369250.0,55387.50,313862.50,354480.0,-40617.50,2013-11-01,11,November,2013

In [16]:
sorted_data2= data.sort_values(by=['Units Sold', 'Country'], ascending=[False, True])
sorted_data2

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
75,Government,United States of America,Paseo,Low,4492.5,10,7,31447.5,314.475,31133.025,22462.5,8670.525,2014-04-01,4,April,2014
188,Government,Canada,Paseo,Low,4251.0,10,7,29757.0,1190.280,28566.720,21255.0,7311.720,2014-01-01,1,January,2014
144,Enterprise,France,Carretera,Low,4243.5,3,125,530437.5,15913.125,514524.375,509220.0,5304.375,2014-04-01,4,April,2014
47,Enterprise,Germany,Amarilla,NaN,4219.5,260,125,527437.5,0.000,527437.500,506340.0,21097.500,2014-04-01,4,April,2014
515,Channel Partners,Canada,Paseo,High,4026.0,10,12,48312.0,5314.320,42997.680,12078.0,30919.680,2014-07-01,7,July,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,Government,Germany,Velo,High,241.0,120,20,4820.0,482.000,4338.000,2410.0,1928.000,2014-10-01,10,October,2014
194,Midmarket,Canada,Paseo,Low,218.0,10,15,3270.0,130.800,3139.200,2180.0,959.200,2014-09-01,9,September,2014
100,Small Business,Germany,Carretera,Low,214.0,3,300,64200.0,1284.000,62916.000,53500.0,9416.000,2013-10-01,10,October,2013
132,Small Business,Germany,VTT,Low,214.0,250,300,64200.0,1284.000,62916.000,53500.0,9416.000,2013-10-01,10,October,2013
634,Government,Canada,Montana,High,200.0,5,350,70000.0,9800.000,60200.000,52000.0,8200.000,2014-05-01,5,May,2014

In [18]:
# Example: Add a column indicating high or low profit
data['Profit Category'] = data['Profit'].apply(lambda x: 'High' if x > 10000 else 'Low')