In [2]:
def r(s):
    return s[::-1]
r('hello')

'olleh'

factorial

In [3]:
def f(n):
    if n==0:
        return 1
    else:
        return n*f(n-1)
x=int(input())
f(x)

6

find primes

In [37]:
def isp(n):
    if n<2:
        return('not prime')
    elif n==2:
        return('prime')
    else:
        for i in range(2,n):
            if n%i==0:
                return('not prime')
                break
            else:
                return('prime')
isp(7)

'prime'

In [34]:
def plist(a,b):
    l=[]
    for i in range(a,b+1):
        if isp(i)=='prime':
            l.append(i)
    return l

plist(2,20)

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19]

min element of a list

In [38]:
l=[2, 3, 5, 7, 11, 13, 17, 19]
y=min(l)
y

2

sum of a digit

In [6]:
x='stfst'
for i in x:
    print(i)

s
t
f
s
t

In [7]:
def sumd(s):
    n=str(s)
    sum=0
    for i in n:
        sum+=int(i)
    return sum
sumd(123)

6

mean of a list

In [8]:
def avg(l):
    s=sum(l)
    n=len(l)
    return(s/n)
avg([7,89,2,1,40])

27.8

 Create a dictionary, add elements to it, modify an element, and then print the dictionary in alphabetical order of keys

In [9]:
# Create an empty dictionary
my_dict = {}

# Add elements to the dictionary
my_dict['banana'] = 3
my_dict['apple'] = 5
my_dict['orange'] = 2

# Modify an element in the dictionary
my_dict['banana'] = 6

print(sorted(my_dict.keys()))

my_dict

['apple', 'banana', 'orange']

{'banana': 6, 'apple': 5, 'orange': 2}

In [6]:
# Sample dictionary of full names
people = {
    1: "John Doe",
    2: "Jane Smith",
    3: "Alice Johnson",
    4: "Bob Brown"
}

# Sort the dictionary by surname
sorted_people = dict(sorted(people.items(), key=lambda item: item[1].split()[-1]))

# Display the sorted dictionary
print(sorted_people)

{4: 'Bob Brown', 1: 'John Doe', 3: 'Alice Johnson', 2: 'Jane Smith'}

In [7]:
print(__name__)

__main__

item[1]: Refers to the full name in the dictionary.
.split()[-1]: Splits the full name into parts and takes the last part (assumed to be the surname).

Find unique values in a list of assorted numbers and print the count of how many times each value is repeated.

In [10]:
numbers = [3, -5, 2.7, 11, 3, -1.5, 11, 0, 3, 2.7, -5, 8/3, 11]
print(set(numbers))

{0, 2.7, 3, 2.6666666666666665, 11, -5, -1.5}

In [11]:
numbers = [3, -5, 2.7, 11, 3, -1.5, 11, 0, 3, 2.7, -5, 8/3, 11]
count={}
for i in numbers:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print (count)

{3: 3, -5: 2, 2.7: 2, 11: 3, -1.5: 1, 0: 1, 2.6666666666666665: 1}

Find and print duplicate values in a list of assorted numbers, along with the number of times each value is repeated

In [12]:
for key,value in count.items():
    if value>1:
        print(f"{key}:{value}")

3:3
-5:2
2.7:2
11:3

 Write a function that returns the count of even and odd numbers from a provided list of integers.

In [13]:
def count(l):
    counte=0
    counto=0
    for i in l:
        if i%2==0:
            counte+=1
        elif i%2==1:
            counto+=1
    return counte,counto
l=[1,2,3,4]
count(l)

(2, 2)

Python Program for Sum of squares of first n natural numbers

In [14]:
def s(n):
    sum=0
    for i in range(1,n+1):
        sum+=i**2
    return sum
s(3)

14

Python Program to find largest element in an array

In [15]:
a=[1,3,9,0,8,89]
y=sorted(a)
print(y[-1])

89

Python program to interchange first and last elements in a list

In [16]:
l=[1,3,9,0,8,89]
l[0],l[-1]=l[-1],l[0]

l

[89, 3, 9, 0, 8, 1]

Python program to swap two elements in a list

In [17]:
l=[1,3,9,0,8,89]
l[2],l[3]=l[3],l[2]
l

[1, 3, 0, 9, 8, 89]

clear a list in Python

In [18]:
l=[1,3,9,0,8,89]
l.clear()
l

[]

Reversing a List

In [19]:
l=[1,3,9,0,8,89]
print(l[::-1])

[89, 8, 0, 9, 3, 1]

find sum of elements in list

In [20]:
l=[1,3,9,0,8,89]
print(sum(l))

110

Multiply all numbers in the list

In [21]:
l=[1,3,9,9,8,89]
m=1
for i in l:
   m=m*i
m

173016

Cumulative sum of a list

In [22]:
def cs(l):
    cumsum=[]
    sum=0
    for i in l:
        sum+=i
        cumsum.append(sum)
    return cumsum
cs([1,2,3,4])

[1, 3, 6, 10]

Remove elements from a list

In [23]:
l=[4,2,1,5,6,7,8,9,76]
remove=[4,2,9]
for i in remove:
    if i in l:
        l.remove(i)
l

[1, 5, 6, 7, 8, 76]

In [24]:
l=[4,2,1,5,6,7,8,9,76]
l.remove(4)

Print duplicates from a list of integers

In [25]:
l=[4,2,4,2,9,7,1,5,6,7,8,9,76]
l2={}
for i in l:
   if i in l2.keys():
    l2[i]+=1
   else:
    l2[i]=1
l2
l3=[]
for keys,value in l2.items():
    if value>1:
        l3.append(keys)
l3

[4, 2, 9, 7]

In [ ]:
# Q1 Find the Intersection (common elements) of Two Lists? 

list1 = [1,2,4,5]
list2 = [4,5,6,7,8]

# using for loop 
def intersection_loop(lst1, lst2):
    common_list = []
    for item in lst1:
        if item in lst2 and item not in common_list:
            common_list.append(item)
    return common_list 

# print(intersection_loop(list1, list2)) 

# using List comprehension 
def intersection_comp(lst1, lst2):
    return [item for item in lst1 if item in lst2] 

# print(intersection_comp(list1, list2))

In [ ]:
# Q2 Find the Most Frequent Element in a List? 
numbers = [1,2,2,3,3,3,4,7,7,7,7]

def most_freq(lst):
    max_count = 0 
    most_freq = None 
    for item in lst:
        count = lst.count(item)
        if count > max_count:
            max_count = count 
            most_freq = item 
    return most_freq 

# print(most_freq(numbers))

In [ ]:
# Q3 Find Cumulative Sum of a List
numbers = [1, 2, 3, 4]

def cumulative_sum(lst):
    cum_sum = [] 
    total = 0 
    for num in lst: 
        total += num 
        cum_sum.append(total) 
    return cum_sum 

# print(cumulative_sum(numbers)) # Using List Comp: print([sum(numbers[:i + 1]) for i in range(len(numbers))])

In [ ]:
# Q4 Remove Duplicates from a List 
fruits = ["apple", "banana", "mango", "apple", "banana"]

# using loop 
def remove_duplicates(lst):
    unique = []
    seen = set()
    for item in lst: 
        if item not in seen:
            unique.append(item)
            seen.add(item)
    return unique 

# print(remove_duplicates(fruits)) 

# without seen, but not good for large dataset -list
def remove_duplicates(lst):
    unique = []
    for item in lst: 
        if item not in unique:
            unique.append(item)
    return unique 

# print(remove_duplicates(fruits))  

# using set constructor 
# print(list(set(fruits)))

In [ ]:

# Q6 Find the Most Frequent Value in a dictionary
data = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 1} 

def most_freq(dct):
    frequency = {}
    for value in dct.values():
        if value not in frequency:
            frequency[value] = 0
        frequency[value] += 1 # 1:1, 2:1, 1:2,3:1, 1:3
    max_value = max(frequency, key=frequency.get)
    return max_value

# print(most_freq(data))

In [ ]:

# Q9 Sort a Dictionary by Values

data = {'a': 5, 'b': 9, 'c': 2, 'd': 7} 

# [('a',5), ('b', 9)....]

def sort_by_values(data):
    sorted_items = sorted(data.items(), 
                          key = lambda item: item[1],
                          reverse=True)
    return {key: value for key , value in sorted_items} 

print(sort_by_values(data)) 

# print(sorted([1,2,0,2,8], reverse=True))

# print(data.items())

In [ ]:

# Q10 Access values from a nested dictionary 

data = {
    "level1": {
        "level2": {
            "level3": {
                "value1": 10,
                "value2": [1, 2, {"deep_key": 42}],
                "value3": {"inner_key": "target"}
            },
            "other_key": 99
        },
        "list_key": [
            {"list_inner_key1": 88},
            {"list_inner_key2": {"deep_list_key": 77}}
        ]
    }
}

#  Tasks to Access Elements:
# Retrieve 42 
# Retrieve "target" 
# Retrieve 77


# 10 Access values from a nested dictionary â€“ Solution

# Tasks to Access Elements
# Retrieve 42. Path: data -> level1 -> level2 -> level3 -> value2 -> [2] -> deep_key
print(data["level1"]["level2"]["level3"]["value2"][2]["deep_key"])

# Retrieve "target". Path: data -> level1 -> level2 -> level3 -> value3 -> inner_key
print(data["level1"]["level2"]["level3"]["value3"]["inner_key"])

# Retrieve 77. Path: data -> level1 -> list_key -> [1] -> list_inner_key2 -> deep_list_key
print(data["level1"]["list_key"][1]["list_inner_key2"]["deep_list_key"])

In [ ]:
#3.  Slice to get only the middle character(s): For my_string = "Madhav", use slicing to extract the middle character(s).
my_string = "Madhav"    # 6 chars - even
# index:     012345
my_string2 = "Madhava"  # 7 chars - odd 
# index:      0123456

def mid_str(word):
    middle = int(len(word)/2)               #3
    if len(word) % 2 == 0:                  # even char len - 2 middle char
        return word[middle-1 : middle+1]    #2:4
    else:                                   # odd char len - 1 middle char
        return word[middle]

print(mid_str(my_string2))

In [ ]:
#4. Remove the first 3 and last 3 characters: Given my_string = "Regression Analysis", remove the first 3 and last 3 characters.

my_string = "Regression Analysis"

print(my_string[3:-3])